.imgValidarNum{
    height: 30vh;
    margin-top: 15%;
    padding-left: 10%;
    padding-right: 10%;
    p{
        font-size: 250%;
    }
}

.phoneAndNumber{
    width: 25%;
}
#icon_telephone{
    font-size: 350%;
    align-content: center;
}

.labelTerminos{
    font-size: 500%;
}
.contenedorBotonContinuar{
    margin-top: 10%;
}