@import 'variables';


.colorAmarillo {
  background-color: $color-amarillo;
}


.altoBtn{
  height: 4vh;
  font-size: 3vh;
  align-items: center;
  margin-top: 10%;
}
div.carousel {
  min-height: 700px;
}

.anchoContenedorImagen{
  height: 500px;
  img{
    height: 400px;
    margin-top: 10%;
  }
}

// div.carousel-slider{
//   div.carousel-item{
//     p.texto{
//       font-size: 3vh;
//       font-weight: bold;
//     }
//   }
// }
