<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static2/materialize-css/dist/css/materialize.min.css">
    <link rel="stylesheet" href="../assets/css/main.css">
    <title>Ingreso de Código</title>
</head>

<body>
    <section class="container">
        <div class="row imgValidarNumHTML3">
            <div class="center col s12">
                <img src="../img/icons/message.png" alt="codigo">
                <h2><strong>Ahora ingresa tu código</strong></h2>
                <p class="parrafoNumero">Enviaremos un SMS con el código de validación al número</p>
                <p id="numeroTel"></p>

            </div>
        </div>
        <div class="row center contenedorForm">
            <form class="col s12 center">
                <div class="row center">
                    <div class="input-field col s10 offset-s1 left-align row">
                        <img src="../img/icons/lock.png" alt="lock">
                        <input id="codigoValidacion" type="num" class="validate col s12" placeholder="- - - - - -" size="6">
                    </div>
                </div>
            </form>
        </div>
    </section>
    <script src="../../static2/jquery/dist/jquery.min.js"></script>
    <script src="../../static2/materialize-css/dist/js/materialize.min.js"></script>
    <script type="text/javascript" src="../assets/js/validacion-codigo.js"></script>
</body>

</html>
